fastapi
uvicorn
sqlalchemy
psycopg2-binary         # Needed for PostgreSQL
python-dotenv
requests
pillow
numpy
tensorflow
pandas
matplotlib
plotly
pytest
httpx
pytest-mock             # For mock testing
pytest-cov              # For coverage report
streamlit
streamlit-autorefresh   # If you use it
python-multipart        # File uploads with FastAPI
passlib[bcrypt]         # Secure password hashing
python-jose             # JWT auth, optional